body {
    font-family: sans-serif;
}

.container {
    width: 400px;
    height: 300px;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(1, 1, 151);
    border: solid;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: white;
}

input[type="number"] {
    width:  180px;
    padding: 8px;
    border: 1px solid #ccc;
}

#result {
    margin-top: 18px;
    font-size: 15px;
    color: white;
}